    
section{
    margin-top: 100px;
    padding 100px 0;
}

.tit-h2{
 
    color: rgb(44, 44, 46);
    font-size: 2rem;
    opacity: 0.8;
    font-family: "Rock Salt";
    background-color: black;
    text-align: center;
  
 
   

}
mark{background: none;
    color: white}

body{

   /* background-image: url(../imagenes/fondo-body.jpg); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}



.solotexto
{
    align-items: center; 
    justify-content: center; 
    color: white; 
    font-size: 1.5rem; 
    font-family: 'Tomorrow', sans-serif; 
    background-color: rgb(32, 33, 34); 
    border: solid 2px green; 
    border-radius: 20px; 
    opacity: 0.7;
    padding-bottom: 10px;
   
    

    
}
.solotexto::first-letter {
    color: red;
    float: left;
    font-family: 'Tomorrow', sans-serif;
    font-size: 400%;
  }

video{
    max-width: 100%;
    border-radius: 30px;
    border: solid 3px green;
  
  }

.imagen-resp{
    max-width: 100%;
    border-radius: 10px;
    border:solid 2px green;

  }


.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  

}
/*
.div-imagen > img{
    border: solid 5px;
    border-color: rgb(7, 238, 46);
    border-radius: 50px;
    max-width: 100%;
}
*/
.div-tpeli { grid-area: tpeli; }
.div-video { 
    grid-area: video;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;

    

}

.div-desc { grid-area: desc;
            margin-left: 5px;  }
.div-tpelr { grid-area: tpelr;  }

.div-p1 { 
    grid-area: pel1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;

 }
.div-p2 { grid-area: pel2; }
.div-p3 { grid-area: pel3;}
.div-tserr { grid-area: tserr;}
.div-s1 { 
    grid-area: s1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

}
.div-s2 { grid-area: s2;}



@media all and (max-width: 973px) {
    .caja-reproduccion {
            display: grid;
            grid-template-areas: "tpeli tpeli tpeli"
                                 "video video video"
                                 "desc desc desc"
                                 "tpelr tpelr tpelr"
                                 "pel1 pel1 pel1"
                                 "tserr tserr tserr"
                                 "s1    s1     s1";
        
          }

    .tit-h2{
        text-shadow: 0 0 5px rgb(18, 86, 235)
    }
/*
    .tit-h2{
        font-size: 1rem;
    }   */

}
/*
@media all (min-width: 974px){
   /* video{
        max-width: 100%;
        border-radius: 30px;
        border: solid 3px blue;
      
      }*/
   /*   .div-p1 { 
        grid-area: pel1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    
     }*//*
     .div-p1 > img{
         width: 100px;
     }
    
     
}
*/

@media all and (min-width: 975px){
.caja-reproduccion {
    display: grid;
    gap: 15px;
    grid-template-areas: "tpeli tpeli tpeli tpeli tpelr"
                         "video video video video pel1"
                         "video video video video pel1"
                         "video video video video tserr"
                         "desc  desc  desc  desc  s1";  
   

    }

 .tit-h2:hover{
    text-shadow: 0 0 5px rgb(18, 86, 235);
    }
  }

 
