    
section{
    margin-top: 100px;
    padding 100px 0;
}

.tit-h2{
 
    color: white;
    font-size: 2rem;
    opacity: 0.8;
    font-family: "Rock Salt";
    margin-bottom: 10px;;
    background-color: black;
  
 
   

}
body{

   /* background-image: url(../imagenes/fondo-body.jpg); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;*/
}


.solotexto
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-family: "Rock Salt";
    background-color: black;

    
}

video{
    max-width: 100%;
    border-radius: 30px;
    border: solid 3px blue;

  
  }
  img{
    max-width: 100%;
    border-radius: 10px;

  }


.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
/*
.div-imagen > img{
    border: solid 5px;
    border-color: rgb(7, 238, 46);
    border-radius: 50px;
    max-width: 100%;
}
*/
@media all and (max-width: 1500px) {
    .caja-reproduccion {
            display: grid;
            grid-template-areas: "tpeli tpeli tpeli"
                                 "video video video"
                                 "desc desc desc"
                                 "tpelr tpelr tpelr"
                                 "pel1 pel1 pel1"
                                 "tserr tserr tserr"
                                 "s1    s1     s1";
        
          }

    .tit-h2{
        font-size: 1rem;
    }   

}

@media all and (min-width: 1501px){
.caja-reproduccion {
    display: grid;
    gap: 15px;
    grid-template-areas: "video video video tpelr"
                         "video video video pel1"
                         "video video video tserr"
                         "desc  desc  desc  s1";  
   

    }
  }

 
.div-tpeli { grid-area: tpeli; }
.div-video { 
    grid-area: video;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-desc { grid-area: desc;  }
.div-tpelr { grid-area: tpelr;  }

.div-p1 { 
    grid-area: pel1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;

 }
.div-p2 { grid-area: pel2; }
.div-p3 { grid-area: pel3;}
.div-tserr { grid-area: tserr;}
.div-s1 { 
    grid-area: s1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

}
.div-s2 { grid-area: s2;}