body{
    background-image: url(../imagenes/fondo-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

article h2{
    margin-top: 50px;
    text-align: center;
    font-family: 'Chewy';
    font-size: 4rem;
}
article p{
    margin-top: 10px;
    text-align: center;
    font-family: 'Rock Salt';
    font-size: 1.2rem;
}
.grupo-imagenes{
    display: flex;
    justify-content: center;
    margin: 5rem;
    flex-wrap: wrap;
    
    
}
article{
    display: grid;
    grid-template-columns: 100px winmax(200px, auto) 100px;
    

    gap 15px;;
   /* grid-template-areas: "titulo-seccion " 
                         "caratula caratula caratula caratula caratula";*/

    background-color: rgb(225, 226, 230);
    border: solid 10px;
    border-color: blue;
    border-radius: 100px;
    padding: 2rem 0;
    margin-left: 2rem;
    margin-right: 2rem;
    color: green;

}
/*
.img-gen{
    grid-area: header;
}*/

.tit-sec{
    grid-column-start: 1;
    grid-column-end: 6;
}
/*
.img-gen1, .img-gen2, .img-gen3, .img-gen4, .img-gen5, .img-gen6, .img-gen7
{
    border: solid 20px;
    border-color: green;
    grid-area: caratula;
}*/
.par-mixtos{
    display: inline-flex;
}
/*
.img-gen{
    padding: 5px;
    margin: 1rem;
}*/

article img{
    width: 80%;
    background-size: 2px;
    background-color: black;
    padding: 2px;
    border-radius: 50px;
    transition: transform 0.4s; /* que los efectos tarden 0.3s */
    margin: 10px;

}

.img-gen{
    display: flex;
    align-items: center;
    justify-content: center;

}

article img:hover{ /*establecemos propiedades cuando pasemos el raton */
    -webkit-transform: scale(1.8);
    transform: scale(1.8);


 }

 