body{
    background-image: url(../imagenes/fondo-body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

article h2{
    margin-top: 50px;
    text-align: center;
    font-family: 'Chewy';
    font-size: 4rem;
    background-color: crimson;
}
article p{
    margin-top: 10px;
    text-align: center;
    font-family: 'Rock Salt';
    font-size: 1.2rem;
    background-color: darkgoldenrod;
}
.grupo-imagenes{
    display: flex;
    justify-content: center;
    margin: 5rem;
    flex-wrap: wrap;
    background-color: darkred;
    
    
}
article{
  /*  display: grid; 
    grid-template-columns: repeat(4fr, 1fr , 1fr , 1fr);
   /* grid-template-columns: 100px winmax(200px, auto) 100px;*/

 /*   gap 15px;;
   /* grid-template-areas: "titulo-seccion " 
                         "caratula caratula caratula caratula caratula";*/

    background-color: rgb(225, 226, 230);
    border: solid 10px;
    border-color: blue;
    border-radius: 100px;
    padding: 2rem 0;
    margin-left: 2rem;
    margin-right: 2rem;
    color: green;
    background-color: darkviolet;

}

.img-gen{
   display: flex;
   align-items: center;
   
}
/*
.tit-sec{
    grid-column-start: 1;
    grid-column-end: 6;
}
/**/

.rejilla-peliculas{
   
    display: grid; 
    grid-template-columns: repeat(4fr, 1fr , 1fr , 1fr);
   /* grid-template-columns: 100px winmax(200px, auto) 100px;*/
    border: solid;
    border-color: gainsboro;

}


}*/
/*
.par-mixtos{
    display: inline-flex;
}
/*
.img-gen{
    padding: 5px;
    margin: 1rem;
}*/

article img{
    width: 80%;
    background-size: 2px;
    background-color: black;
    padding: 2px;
    border-radius: 50px;
    transition: transform 0.4s; /* que los efectos tarden 0.3s */
    margin: 10px;

}
/*
.img-gen{
    display: flex;
    align-items: center;
    justify-content: center;

}
*/
article img:hover{ /*establecemos propiedades cuando pasemos el raton */
    -webkit-transform: scale(1.5);
    transform: scale(1.5);


 }

 