.navbar{
  /*  background-image: url(../imagenes/fondo-navbar.jpg) ; */
    background-position: center center;
    background-color: black;
    position: fixed; /* posicion fija */
    top: 0; /*que esté arriba */
    width: 100%; /*que la barra de navegacion mida el 100% del ancho */
    z-index: 9999; /* prioridad maxima para apilacion de la capa */
    display: flex; /* aplicamos flex, por lo que habra dos cajas, una para el logo y otra para el menu de navegacion */
    align-items: center; /* lo centramos en la barra por altura y anchura */
  /*  background-repeat: no-repeat; */
    background-size: cover;

}

.busqueda{
    background-color: black;
    border-radius: 50px;
    border-color: rgb(9, 76, 175);
    background-color: rgb(87, 240, 232);
    font-size: 1.4rem;
}
.navbar-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.navbar > .navbar-list {
    list-style-type: none; /*quitamos los puntos caracteristicos de la lista */
    margin: 0; 
    display: flex;
    justify-content:flex-end; /* alineamos a la derecha */
    flex: 1 100%; /*duda */

}

.navbar-item a {
    color: white;
    text-decoration: none; /*eliminaos simbolos de hipervinculo */
    padding: 1rem; 
    display: block;
    font-size: 1.1rem;
    font-family: "Rock Salt";


}

.navbar-item a:hover{
    background-color: rgb(5, 5, 82);
    color: green;
    border-radius: 50px;
}

.logo{
    width: 150px;
    border-radius: 100px;
    margin: 5px;
    
}

