
html {
    font-size: 10pt;
}


body{
   /* background-image: url(../imagenes/fondo-body.jpg); */
   background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section{
    padding: 5 rem 0;

}

.solotexto
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    background-color: black;
    opacity: 0.8;
    border-radius: 50px;
    font-family: 'Tomorrow', sans-serif; 
    margin-bottom: 20px;
    
}

.text-fav
{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    background-color: black;
    opacity: 0.8;
    border-radius: 50px;
    font-family: 'Tomorrow', sans-serif; 
    margin-bottom: 20px;
    border: solid 3px green;
    padding-bottom: 5rem;
    
}
.rejilla-peliculas{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));
   gap: 2rem;
   padding-bottom: 50px;
   padding-right: 10px;
   padding-left: 10px;
                     
    /* grid-auto-rows: 120px; */
}


.rejilla-series{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
                      
     /* grid-auto-rows: 120px; */
 }

 .div-ser{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: gold;
}

.div-ser > img{
    border: solid 2px;
    border-color: rgb(7, 238, 46);
    border-radius: 50px;
    max-width: 100%;
}

.tit-h2{
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    background-color: black;
    opacity: 0.8;
    border-radius: 50px;
    font-family: "Rock Salt";
    border: solid 5px green;
    margin-bottom: 10px; */
    color: rgb(44, 44, 46);
    font-size: 3rem;
    opacity: 0.8;
    font-family: "Rock Salt";
    background-color: black;
    text-align: center;
    margin-bottom: 20px; 
  
 
   

}


article{

     /* margin-top: 100px;*/
      padding-top: 5rem ;
  /*    background-color: rgb(225, 226, 230);*/
      border: solid 10px;
   /*   border-color: blue;*/
      border-radius: 60px;
   /*   padding: 1rem 0;*/
      margin-left: 2rem;
      margin-right: 2rem;
 /*     color: green;*/*/
     /* background-color: black;*/
      margin-bottom: 15px;
  
  }
/*
.div-imagen > img{
    border: solid 2px;
    border-color: rgb(7, 238, 46);
    border-radius: 50px;
    max-width: 100%;
}*/

.img-parrilla{
    border: solid 2px;
    border-color: rgb(7, 238, 46);
    border-radius: 50px;
    max-width: 100%;
}
/*
.div-pel{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-color: gold;
}
*/

.div-imagen {
    
    display:inline-block;
    position:relative; 
    align-items: center;
    max-width: 100%;
  
}
  /*separar el tamaño de la imagen para las peliculas y las series */
 .texto-serie {
    position:absolute;
    top:0;
    left:0;
    z-index:-100;
    padding:10px;
    margin:0;
    width: 280px;
    
     
}
.texto-pelicula {
    position:absolute;
    top:0;
    left:0;
    z-index:-100;
    padding:10px;
    margin:0;
    width: 215px;
    
     
}
.tit-descripcion
{
    font-family: "Chewy";
    font-size: 1.7rem;
    text-align: justify;
    margin-top: 10px;
    color: blue;
      
}

.foot-play
{
    text-align: center;
    color: blue;
 

    
      
}
.texto-imagen > p
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: "arial";
      
}
  

.desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  
/*
  @media (min-width: 992px) {
    /* acá van las reglas CSS que aplican para este media query */
  
/*
  @media (min-width: 480px) and (max-width: 767px){
    .tit-descripcion
    {
        font-size: calc(40px + 0.5vw);
          
    }
    .texto-imagen > p
    {
        font-size: calc(14px + 0.5vw);

          
    }
      

  } */

  @media all and (min-width: 975px){

    .tit-h2:hover{
       text-shadow: 0 0 5px rgb(18, 86, 235);
       }
       
     }


@media all and (max-width: 974px) {

    .tit-h2{
        text-shadow: 0 0 5px rgb(18, 86, 235);
        font-size: calc(30px + 0.5vw);
    }
    .text-fav{
        font-size: calc(10px + 0.5vw);
    }
    
    }
}

