.item {
  background-color: lightblue;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: solid 5px goldenrod;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  /*
  grid-template-columns: [grid-start nav-start] 100px
                         [nav-end main-start] minmax(200px, auto)
                         [main-end] 100px
                         [grid-end];
  /* grid-auto-rows: 120px; */
 /* gap: 15px; /*espacio entre columnas */
  
  grid-template-areas: "header header header"
                       " nav    nav   nav"
                       " main   main  main"
                       "footer footer footer";
  justify-content: stretch;
  align-content: stretch;
  height: 100vh;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: nav;
}

.item3 {
  grid-area: main;
}

.item4 {
  grid-area: footer;
}
