body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./imagenes/20191129_112342118_iOS.gif);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

  
}
section{
    display: flex;
    flex: 0 1 48%;
    flex-direction: column;
 /*   border: solid 10px black;*/
    align-items: center;
    justify-content: center;
 /*   background: chocolate;*/
    height: 100vh;

}
img{
    width: 80vh;
}

.caja-form{
    display: flex;
    flex-direction: column;
    flex: 0 1 48%; /*¿porque no se hace mas pequeño? */
    border: solid 10px;
    border-color: blue;
    border-radius: 100px;
    background-color: black;
    padding: 0 3rem 3rem;
    color: rgb(28, 28, 145);  
      flex-wrap: wrap;
}
.login-form{
 /*   background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    

}
form label{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;

    }

input[type="password"], input[type="email"], textarea{
    width: 100%;
    padding: .3rem;
    background-color: rgb(32, 31, 31);
    border: 0;
    border-radius: 50px;
    font-size: 1.2rem;
    color: blanchedalmond;
    
}
button{
    border: 0;
    border-radius: 50px;
    background-color: rgb(32, 243, 32);
    font-size: 1.4rem;
    padding: 0 2rem;

}

button:hover{ /*establecemos propiedades cuando pasemos el raton */
    background-color: rgb(23, 73, 212);
 }

.p-password{
    font-size: 1.5rem;

   
}